@font-face {
  font-display: fallback;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("assets/fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Open Sans";
  font-style: bold;
  font-weight: 700;
  src: url("assets/fonts/OpenSans-Bold.ttf");
}

* {
  box-sizing: border-box;
}

html {
  background: #c18b2a;
  background-attachment: fixed;
  background-image: url(assets/textureGold.jpeg);
  height: 100%;
  overflow: hidden;
}

body {
  display: grid;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  height: 100%;
  justify-items: center;
  margin: 0;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

h1 {
  color: #222e3e;
  font-weight: normal;
  margin: 0;
}

figure {
  align-items: center;
  display: grid;
  gap: 1em;
  grid-template-rows: minmax(0, 1fr);
  justify-items: center;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
}

figure > * {
  max-height: 100%;
  max-width: 100%;
}

figcaption {
  align-self: start;
  font-style: italic;
}

pre {
  overflow-y: auto;
  white-space: pre-wrap;
}

.slideContainer {
  align-content: center;
  align-items: stretch;
  display: grid;
  grid-template-rows: minmax(0, auto);
  grid-template-columns: minmax(0, 1fr);
  justify-items: center;
  height: 100vh;
  padding: 4%;
  scroll-snap-align: start;
  width: 100vw;
}

.slide {
  /* aspect-ratio: 16/ 9; */
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
  background: #fafafa;
  color: rgb(51, 51, 51);
  display: grid;
  gap: 2em 3em;
  /* grid-template-columns: minmax(0, 1fr); */
  grid-template-rows: minmax(0, 1fr);
  height: 100%;
  padding: 2em;
  max-width: 100%;
}

.titleSlide {
  align-content: center;
  aspect-ratio: 1;
  gap: 1em;
  grid-template-rows: repeat(2, minmax(0, auto));
  justify-items: center;
}

.figures {
  align-content: center;
  align-items: center;
  grid-auto-flow: column;
  grid-template-rows: minmax(0, 1fr) auto;
  justify-content: space-evenly;
  justify-items: center;
}

.two-up {
  grid-template-columns: minmax(0, auto) minmax(0, auto);
}

.three-up {
  grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto);
}

.noCaption {
  grid-template-rows: minmax(0, 1fr);
}

.textAndImage {
  grid-template-rows: auto minmax(0, 1fr);
}

.heart {
  width: 15vw;
}

@media (max-aspect-ratio: 16/ 9) {
  .slideContainer {
    align-content: center;
  }
}
